
table{
	margin-bottom: 0 !important;
	width: 80% !important;
	margin-left: 10% !important;
	margin-top: 20px !important;
	
}

nav{
	display: flex;
	justify-content: center;
	

}

.selPage{
	background: #c2c2c7 !important;
    color: #233535 !important;
}
.page-link{

	cursor:pointer;
}

.page{

	color: black !important
}

.page-link{

	color: black !important
}

